/*
Resetear el navegador
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Sacando el scroll
*/
body {
  overflow-y: hidden;
  overflow-x: hidden;
}

/*
formula para el ancho de las columnas (numero columnas / 12) * 100
*/
.col-1 {
  width: 8.333333%;
  border: 1px solid red;
  height: 300px;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

/*
Contenedor general
*/
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*
Posicionamiento de los gatitos
*/
.first {
  padding-top: 40%;
  padding-left: 20%;
}

.second {
  padding-top: 30%;
  padding-left: 25%;
}

.third {
  padding-top: 20%;
  padding-left: 10%;
}

/*
Adaptabilidad dependiendo de los tamaños del navegador
*/
@media (min-width: 1024px) and (max-width: 1600px) {
  body {
    background-image: url(../img/sunny-day.jpg);
    background-size: 100%;
  }
	.first {
		display: block;
	}

	.second {
		display: none;
	}

	.third {
		display: none;
	}
}

@media (min-width: 767px) and (max-width: 1024px) {
  body {
    background-image: url(../img/night.jpg);
  	background-size: 100%;
	}

		.first {
		display: none;
	}

	.second {
		display: block;
	}

	.third {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-image: url(../img/dawn.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  	.first {
		display: none;
	}

	.second {
		display: none;
	}

	.third {
		display: block;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
  body {
    background-image: #000;
    background-size: 100%;
  }

    .first {
    display: none;
  }
1
  .second {
    display: none;
  }

  .third {
    display: none;
  }
}



